@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --mainTextColor: rgb(0, 0, 0);
    --secondaryTextColor: rgb(214, 214, 214);
    --mainLinkColor: #44d8ef;
    --mainBorderColor: rgb(218, 218, 218);
    --mainBgColor: rgb(249, 250, 251);
    --mainGreenColor: rgb(16, 242, 159);
}

* {
    font-family: "Readex Pro";
    line-height: 1.5em;
    box-sizing: border-box;
}

#containter--main {
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Background */
body {
    margin: auto;
    font-family: sapple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: #065a60;
    background: radial-gradient(circle, #065a60 25%, #144552 41%, #1b3a4b 55%, #272640 68%, #4d194d 96%);
    animation: gradient 20s ease infinite;
    background-size: 600% 800%;
    background-attachment: fixed;
}

.wave {
    background: rgb(255, 255, 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 5s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* Menu Bar */
#menu--bar {
    margin: 27px auto 0;
    position: relative;
    width: 480px;
    height: 50px;
    border-radius: 8px;
    font-size: 0;
}

#menu--bar #option {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
}

#menu--bar .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.2s ease 0s;
    border-radius: 8px;
}

#option:nth-child(1) {
    width: 120px;
}

#option:nth-child(2) {
    width: 120px;
}

#option:nth-child(3) {
    width: 120px;
}

#option:nth-child(4) {
    width: 120px;
}

#menu--bar .start-home,
#option:nth-child(1):hover~.animation {
    width: 120px;
    left: 0;
    background-color: black;
}

#menu--bar .start-about,
#option:nth-child(2):hover~.animation {
    width: 120px;
    left: 120px;
    background-color: black;
}

#menu--bar .start-esperience,
#option:nth-child(3):hover~.animation {
    width: 120px;
    left: 240px;
    background-color: black;
}

#menu--bar .start-proyects,
#option:nth-child(4):hover~.animation {
    width: 120px;
    left: 360px;
    background-color: black;
}