@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --mainTextColor: rgb(0, 0, 0);
    --secondaryTextColor: rgb(214, 214, 214);
    --mainLinkColor: #44d8ef;
    --mainBorderColor: rgb(218, 218, 218);
    --mainBgColor: rgb(249, 250, 251);
    --mainGreenColor: rgb(16, 242, 159);
}

/* Pricipales */
* {
    font-family: "Readex Pro", serif;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

p {
    color: var(--secondaryTextColor);
}

a {
    color: var(--mainLinkColor);
    text-decoration: none;
}

li {
    color: var(--secondaryTextColor);
    line-height: 1.9em;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3em;
    line-height: 1em;
}

#more-about-me,
#experiencias,
#proyectos {
    display: none;
}

/* Cabecera */
header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

header a {
    color: var(--secondaryTextColor);
    transition: 0.3s;
    font-weight: 300;
}

header a:hover {
    color: var(--mainLinkColor);
}

header #data {
    display: flex;
    gap: 80px;
}

#socials {
    position: relative;
    text-align: left;
    top: 40%;
}

#socials a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 2px 4px;
    position: relative;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#socials a:hover {
    color: #fff;
    opacity: 0.9;
    text-shadow: 2px 3px 5px rgb(12, 199, 131);
    top: -3px;
}

/* Navegador */
#menu {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    padding: 0.4rem;
    border-radius: 99px;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 160px;
    font-size: 1.25rem;
    font-weight: 200;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
    transform: translateX(100%);
}

input[id="radio-3"]:checked~.glider {
    transform: translateX(200%);
}

input[id="radio-4"]:checked~.glider {
    transform: translateX(300%);
}

.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 160px;
    background-color: rgba(16, 242, 159, 0.478);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}


/* Background */
body {
    margin: auto;
    font-family: sapple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: #065a60;
    background: radial-gradient(circle, #065a60 25%, #144552 41%, #1b3a4b 55%, #272640 68%, #4d194d 96%);
    animation: gradient 20s ease infinite;
    background-size: 600% 800%;
    background-attachment: fixed;
}

.wave {
    background: rgb(255, 255, 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 5s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/* About me*/
#about-me p {
    margin-left: 12px;
}

/* More About Me */
#more-about-me h2 {
    text-align: center;
}

#info1 {
    display: flex;
    gap: 1em;
}

#info2 {
    display: flex;
    gap: 3.5em;
}

#progress-bar {
    background-color: black;
    border-radius: 13px;
    width: 250px;
    margin-left: 35px;
    padding: 3px;
    text-align: center;
    font-size: 15px;
}

#progress-bar div {
    background-color: rgb(16, 242, 159);
    width: 50%;
    height: 20px;
    border-radius: 10px;
}

/* Experience */
.card--work-history {
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
    color: var(--secondaryTextColor);
}

.line--break {
    background-color: var(--mainBorderColor);
    height: 1px;
}

/* Projects */
.card--project {
    padding-top: 1em;
    padding-bottom: 1em;
}

.card--project li {
    list-style: none;
    margin-left: 30px;
}

/* Small Screen 700px */
@media(max-width:700px) {
    .tab {
        font-size: 1rem;
        font-weight: 400;
        width: 100px;
    }

    .glider {
        width: 100px;
    }
}

/* Small Screen 750px */
@media(max-width:750px) {
    header #data {
        flex-direction: column;
        gap: 1em;
        align-items: center;
        text-align: center;
    }

    header #data img {
        width: 300px;
        height: 300px;
    }

    header #socials {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 30px;
    }

    p {
        margin: 10px 10px
    }

    #more-about-me h2 {
        margin: 15px;
    }

    #info1 {
        display: block;
    }

    #info2 {
        display: block;
    }

    ul {
        text-align: justify;
    }

    .card--work-history {
        margin-left: 20px;
    }

    .line--break {
        margin-left: 20px;
        margin-right: 20px;
    }

    .card--project a {
        margin-left: 30px;
    }

}